.ag-center-cols-container {
    width: 100% !important;
}

/* CSS */
@keyframes rainbow {
    0% {
        color: red;
    }

    14% {
        color: orange;
    }

    28% {
        color: yellow;
    }

    42% {
        color: green;
    }

    57% {
        color: blue;
    }

    71% {
        color: indigo;
    }

    85% {
        color: violet;
    }

    100% {
        color: red;
    }
}

.rainbow-icon {
    animation: rainbow 4s infinite;
}

.rainbow-icon {
    filter: url(#rainbow-filter);
}